<h1>Snippetly</h1>

<% if @snippets.empty? %>
  <p class="notice">
    You don't have any snippets yet.  Maybe you'd like to 
    <%= link_to "make one", new_snippet_url %>?
  </p>
<% else %>
  <div id="new_link"><%= link_to "add", new_snippet_url %></div>
  <div id="snippet_list">
    <ul>
      <% @snippets.each do |snip| %>
        <li><%= link_to snip.name, snip %></li>
      <% end %>
    </ul>
  </div>
<% end %>
