<h1>Snippily</h1>

<p>
  Snippily is a tool to help you share text snippets via the command line.  Use
  it to copy bits of text, code, or URLs between machines, or share them with
  your friends.
</p>

<p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>
